<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="fName" value="manjunath"/>
<parameter name="lName" value="chigare"/>
<parameter name="ZCode" value="586128"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="PracticeTest.landing"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
